

<!DOCTYPE html>
<html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'djiki/style.css' %}">

<head>
<meta charset="utf-8">
<title>Djiki</title>
</head>




<body>
You are now editting {{ title }}<br>
<form action="{% url 'submit_edit'%}" method="post">
{% csrf_token %}
<label for="title">Title</label><br>
<textarea name="title" rows="1" cols="80" required>{{ title }}</textarea>
<label for="message">Message</label><br>
<textarea name="message" rows="20" cols="80" required>{{ text }}</textarea><br>
<input name="url" type="hidden" value="{{url_}}">
<label for="author">Edit Authored by</label><br>
<textarea name="author" rows="1" cols="80" required></textarea>
<br><br>
<input type="submit">
</form>
</body>

</html>
