

<!DOCTYPE html>
<html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'djiki/style.css' %}">

<head>
<meta charset="utf-8">
<title>Djiki</title>
</head>




<body>
You are adding a new page<br>
<form action="{% url 'submit_new'%}" method="post">
{% csrf_token %}
<label for="title">Title</label><br>
<textarea name="title" rows="1" cols="80">{{ title }}</textarea>
<label for="message">Message</label><br>
<textarea name="message" rows="20" cols="80">{{ text }}</textarea>
<br><br>
<input type="submit">
</form>
</body>


